.products__section__container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
    grid-template-rows: auto;
    gap: 2rem 2.5rem;
}

textarea {
    resize: none !important;
}


.individual__product__section__container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 0 2rem;
}


.homepage__banner {
    background-image:  url('/images/banner.jpg');
    background-position: 50% 100%;
}
